[Unit]
Description=Cloud Remote rclone sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/rclone-remote-syncer.sh
StandardOutput=journal
StandardError=journal
